openapi: 3.1.1
info:
  title: ViaPost Integration API
  version: 1.0.0
  license:
    name: Proprietary
    url: https://viapost.io/terms
  description: |
    Contrato descritivo do comportamento atual da api-core. Alterações incompatíveis exigem versão e depreciação.
servers:
  - url: https://api.viapost.io
paths:
  /v1/automations:
    get:
      operationId: getAutomations
      tags:
        - Automations
      summary: GET /v1/automations
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:read
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - disabled
              - enabled
              - archived
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: postAutomations
      tags:
        - Automations
      summary: POST /v1/automations
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutomationRequest'
      responses:
        '201':
          description: Sucesso
          headers:
            Cache-Control:
              schema:
                type: string
                const: private, no-store
              description: Impede cache da resposta que contém o secret inicial.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/automations/{id}:
    get:
      operationId: getAutomationsId
      tags:
        - Automations
      summary: GET /v1/automations/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      operationId: patchAutomationsId
      tags:
        - Automations
      summary: PATCH /v1/automations/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameAutomationRequest'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteAutomationsId
      tags:
        - Automations
      summary: DELETE /v1/automations/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/automations/{id}/activate:
    post:
      operationId: postAutomationsIdActivate
      tags:
        - Automations
      summary: POST /v1/automations/{id}/activate
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/automations/{id}/disable:
    post:
      operationId: postAutomationsIdDisable
      tags:
        - Automations
      summary: POST /v1/automations/{id}/disable
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/automations/{id}/draft:
    patch:
      operationId: patchAutomationsIdDraft
      tags:
        - Automations
      summary: PATCH /v1/automations/{id}/draft
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutomationDraftRequest'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/automations/{id}/duplicate:
    post:
      operationId: postAutomationsIdDuplicate
      tags:
        - Automations
      summary: POST /v1/automations/{id}/duplicate
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/automations/{id}/runs:
    get:
      operationId: getAutomationsIdRuns
      tags:
        - Automations
      summary: GET /v1/automations/{id}/runs
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AutomationCursor'
        - $ref: '#/components/parameters/AutomationLimit'
        - name: status
          in: query
          schema:
            type: string
            enum:
              - running
              - completed
              - failed
              - cancelled
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRunList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/automations/{id}/runs/{run_id}:
    get:
      operationId: getAutomationsIdRunsRunId
      tags:
        - Automations
      summary: GET /v1/automations/{id}/runs/{run_id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRunDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/automations/{id}/runs/{run_id}/cancel:
    post:
      operationId: postAutomationsIdRunsRunIdCancel
      tags:
        - Automations
      summary: POST /v1/automations/{id}/runs/{run_id}/cancel
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: automations:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/contacts:
    get:
      operationId: getContacts
      tags:
        - Contacts
      summary: GET /v1/contacts
      description: Lista somente os contatos ativos do tenant autenticado. `Audience` e `audience` são nomes internos; não existe rota pública `/v1/audiences`.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: contacts:read
      parameters:
        - $ref: '#/components/parameters/AutomationCursor'
        - $ref: '#/components/parameters/AutomationLimit'
        - name: search
          in: query
          schema:
            type: string
            maxLength: 200
          description: Busca por e-mail ou nome do contato; máximo de 200 caracteres.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: postContacts
      tags:
        - Contacts
      summary: POST /v1/contacts
      description: Cria um contato. O e-mail é normalizado para minúsculas e deve ser único dentro do tenant; a mesma caixa postal pode existir em outro tenant.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: contacts:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactRequest'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/contacts/import:
    post:
      operationId: postContactsImport
      tags:
        - Contacts
      summary: POST /v1/contacts/import
      description: |
        Importação síncrona, atômica e somente de criação para no máximo 1.000 contatos do tenant.
        Aceita CSV UTF-8 (BOM opcional) com cabeçalho exato `email,first_name,last_name,subscribed,properties`.
        Contatos existentes não são alterados; duplicatas do arquivo preservam a primeira linha válida.
        `subscribed` vazio cria contato não inscrito por padrão seguro de consentimento.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: contacts:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          text/csv:
            schema:
              type: string
              format: binary
              maxLength: 2097152
      responses:
        '200':
          description: Importação concluída; totais são calculados a partir do resultado real do banco.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactImportResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/contacts/{id}:
    get:
      operationId: getContactsId
      tags:
        - Contacts
      summary: GET /v1/contacts/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: contacts:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      operationId: patchContactsId
      tags:
        - Contacts
      summary: PATCH /v1/contacts/{id}
      description: Substitui apenas os campos presentes. `first_name` e `last_name` aceitam `null` para limpar o valor; os demais campos não aceitam `null`.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: contacts:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactRequest'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteContactsId
      tags:
        - Contacts
      summary: DELETE /v1/contacts/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: contacts:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/domains:
    get:
      operationId: getDomains
      tags:
        - Domains
      summary: GET /v1/domains
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:read
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: postDomains
      tags:
        - Domains
      summary: POST /v1/domains
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDomainResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/domains/{id}:
    get:
      operationId: getDomainsId
      tags:
        - Domains
      summary: GET /v1/domains/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteDomainsId
      tags:
        - Domains
      summary: DELETE /v1/domains/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/domains/{id}/health:
    get:
      operationId: getDomainsIdHealth
      tags:
        - Domains
      summary: Consultar o health score do domínio
      description: |
        Retorna um snapshot tenant-scoped da configuração DNS e dos resultados terminais de
        entrega. Bearer API Keys precisam ter os scopes `domains:read` e `messages:read`; sessões
        usam o tenant ativo. Domínio ausente e domínio de outro tenant retornam o mesmo `404`.

        A fórmula `domain_health_v1` usa a janela móvel e semiaberta de 30 dias `[start, end)` e
        exige uma amostra mínima de 100 mensagens. Taxas são inteiros em basis points
        (`10000` = 100%). Snapshots da mesma versão com menos de 15 minutos podem ser reutilizados;
        `evaluated_at` torna essa idade observável.

        Complaint é deliberadamente omitido porque o pipeline atual não o persiste com completude
        suficiente para uma taxa confiável. O estado legado `complained` conta somente no numerador
        de entrega, pois pressupõe aceite anterior. O score é uma heurística operacional: não mede
        inbox placement, não é SLA e não garante entregabilidade.

        A resposta nunca expõe destinatários, local-parts, códigos ou diagnósticos SMTP, respostas
        DNS, selectors ou chaves DKIM, hosts MX, IPs, nomes de serviços nem identificadores de
        storage, broker ou banco.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:read
      x-viapost-required-scopes:
        - domains:read
        - messages:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Snapshot de health do domínio; ausência de score usa `insufficient_data`, não `404`.
          headers:
            Cache-Control:
              description: Impede armazenamento da avaliação tenant-scoped por caches compartilhados ou privados.
              schema:
                type: string
                const: private, no-store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainHealth'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/domains/{id}/dkim/rotate:
    post:
      operationId: postDomainsIdDkimRotate
      tags:
        - Domains
      summary: POST /v1/domains/{id}/dkim/rotate
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateDKIMResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/domains/{id}/dns:
    get:
      operationId: getDomainsIdDns
      tags:
        - Domains
      summary: GET /v1/domains/{id}/dns
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSRecordList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/domains/{id}/inbound:
    get:
      operationId: getDomainsIdInbound
      tags:
        - Domains
      summary: Consultar a configuração de recebimento do domínio
      description: |
        Retorna o domínio destinatário, a prontidão do receptor ViaPost e a observação atual do
        registro MX público. `ready` significa que o receptor está apto a aceitar o domínio
        verificado; `mx.status` informa independentemente se os remetentes externos apontam para
        a ViaPost. Uma falha transitória de resolução retorna `unavailable`, nunca
        `not_configured`.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Configuração de recebimento do domínio tenant-scoped.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundDomainConfiguration'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/domains/{id}/verify:
    post:
      operationId: postDomainsIdVerify
      tags:
        - Domains
      summary: POST /v1/domains/{id}/verify
      description: Verifica SPF, DKIM e um único registro DMARC sintaticamente válido. DMARC exige `v=DMARC1`, política `p` em `none`, `quarantine` ou `reject`, e URI(s) `mailto:` válida(s) em `rua`; o sufixo de tamanho legado, como `!10m`, é aceito.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: domains:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/events:
    get:
      operationId: getEvents
      tags:
        - Events
      summary: GET /v1/events
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: events:read
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: postEvents
      tags:
        - Events
      summary: POST /v1/events
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: events:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomEventRequest'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEvent'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/events/send:
    post:
      operationId: postEventsSend
      tags:
        - Events
      summary: POST /v1/events/send
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: events:send
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendCustomEventRequest'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDelivery'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/events/{id}:
    patch:
      operationId: patchEventsId
      tags:
        - Events
      summary: PATCH /v1/events/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: events:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomEventRequest'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEvent'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteEventsId
      tags:
        - Events
      summary: DELETE /v1/events/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: events:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/health:
    get:
      operationId: getHealth
      tags:
        - Health
      summary: GET /v1/health
      security: []
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/health/ready:
    get:
      operationId: getHealthReady
      tags:
        - Health
      summary: GET /v1/health/ready
      security: []
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/status:
    get:
      operationId: getPublicStatus
      tags:
        - Public Status
      summary: Estado público curado do ViaPost
      description: |
        Endpoint público e curado da página de status. A URL canônica é
        `https://status.viapost.io/v1/status`; ele expõe somente componentes de produto
        e mensagens curadas, sem métricas, dependências, topologia, detalhes de readiness,
        incidentes internos ou dados de tenants. Comunicações públicas de incidente e manutenção
        são incluídas somente no campo `notices`.
      servers:
        - url: https://status.viapost.io
      security: []
      responses:
        '200':
          description: Snapshot curado. `unknown` significa que a fonte não possui evidência atual; não significa disponibilidade.
          headers:
            Cache-Control:
              schema:
                type: string
              example: public, max-age=60, stale-while-revalidate=60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStatus'
        '404':
          description: A rota só é publicada no host status.viapost.io.
        '500':
          description: Falha inesperada, sem metadados operacionais.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStatusError'
    head:
      operationId: headPublicStatus
      tags:
        - Public Status
      summary: Cabeçalhos do estado público curado
      servers:
        - url: https://status.viapost.io
      security: []
      responses:
        '200':
          description: Mesmo estado de cache do GET, sem corpo.
          headers:
            Cache-Control:
              schema:
                type: string
              example: public, max-age=60, stale-while-revalidate=60
        '404':
          description: A rota só é publicada no host status.viapost.io.
        '500':
          description: Falha inesperada, sem metadados operacionais.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStatusError'
  /v1/status/subscriptions:
    post:
      operationId: postStatusSubscriptions
      tags:
        - Public Status
      summary: Solicita inscrição nas comunicações da página de status
      description: |
        Disponível somente em `status.viapost.io`. Para todo e-mail sintaticamente válido,
        retorna a mesma resposta `202`, independentemente de já existir uma inscrição.
      servers:
        - url: https://status.viapost.io
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusSubscriptionRequest'
      responses:
        '202':
          description: Solicitação aceita; a resposta não revela se o e-mail já estava inscrito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          description: A rota só é publicada no host status.viapost.io.
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/status/subscriptions/confirm:
    post:
      operationId: postStatusSubscriptionsConfirm
      tags:
        - Public Status
      summary: Confirma uma inscrição na página de status
      description: |
        Disponível somente em `status.viapost.io`. A confirmação é idempotente e retorna a
        mesma resposta genérica quando o token válido já foi consumido.
      servers:
        - url: https://status.viapost.io
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusSubscriptionTokenRequest'
      responses:
        '200':
          description: Confirmação processada de forma idempotente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          description: A rota só é publicada no host status.viapost.io.
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/status/subscriptions/unsubscribe:
    post:
      operationId: postStatusSubscriptionsUnsubscribe
      tags:
        - Public Status
      summary: Cancela uma inscrição na página de status
      description: |
        Disponível somente em `status.viapost.io`. O cancelamento é idempotente e retorna a
        mesma resposta genérica quando o token válido já foi consumido.
      servers:
        - url: https://status.viapost.io
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusSubscriptionTokenRequest'
      responses:
        '200':
          description: Cancelamento processado de forma idempotente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          description: A rota só é publicada no host status.viapost.io.
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/inbound-messages:
    get:
      operationId: getInboundMessages
      tags:
        - Inbound Messages
      summary: GET /v1/inbound-messages
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: inbound:read
      parameters:
        - $ref: '#/components/parameters/TimestampCursor'
        - $ref: '#/components/parameters/LegacyLimit'
        - name: domain_id
          in: query
          schema:
            type: string
            format: uuid
        - name: search
          in: query
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum:
              - 7d
              - 30d
        - name: has_attachments
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundMessageList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/inbound-messages/{id}:
    get:
      operationId: getInboundMessagesId
      tags:
        - Inbound Messages
      summary: GET /v1/inbound-messages/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: inbound:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundMessageDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/inbound-messages/{id}/raw:
    get:
      operationId: getInboundMessagesIdRaw
      tags:
        - Inbound Messages
      summary: Baixa o arquivo RFC 5322 recebido
      description: |
        Retorna o `.eml` bruto exatamente como recebido. A autorização e o isolamento por tenant
        são reavaliados em cada download; a URL relativa não é um bearer token e não pode ser
        compartilhada como uma URL pré-assinada. O conteúdo pode deixar de estar disponível por
        expurgo ou falha transitória do armazenamento, sem remover os metadados da mensagem.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: inbound:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Arquivo `.eml` recebido.
          headers:
            Cache-Control:
              description: Impede armazenamento de conteúdo sensível por caches compartilhados ou privados.
              schema:
                type: string
                const: private, no-store
            Content-Disposition:
              description: Força download com nome de arquivo derivado exclusivamente do ID da mensagem.
              schema:
                type: string
                example: attachment; filename="00000000-0000-0000-0000-000000000000.eml"
            X-Content-Type-Options:
              description: Impede MIME sniffing no navegador.
              schema:
                type: string
                const: nosniff
          content:
            message/rfc822:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/messages:
    get:
      operationId: getMessages
      tags:
        - Messages
      summary: GET /v1/messages
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: messages:read
      parameters:
        - $ref: '#/components/parameters/TimestampCursor'
        - $ref: '#/components/parameters/LegacyLimit'
        - name: status
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum:
              - 24h
              - 7d
              - 14d
              - 30d
        - name: api_key_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/messages/engagement:
    get:
      operationId: getMessagesEngagement
      tags:
        - Messages
      summary: GET /v1/messages/engagement
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: messages:read
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/messages/events:
    get:
      operationId: getMessagesEvents
      tags:
        - Messages
      summary: Lista a timeline tenant-wide de eventos de mensagens
      description: |
        Primeira fatia da timeline unificada: agrega, do mais recente para o mais antigo, somente
        eventos outbound de entrega e tracking persistidos para o tenant autenticado. Não inclui
        mensagens inbound, eventos customizados de automações, execuções de automação, operações
        de webhook nem eventos de auditoria. O endpoint legado `/v1/messages/{id}/events` mantém
        sua resposta cronológica e sem paginação.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: messages:read
      parameters:
        - name: cursor
          in: query
          description: Cursor opaco retornado em `next_cursor`; não deve ser interpretado ou alterado pelo cliente.
          schema:
            type: string
            minLength: 1
            maxLength: 512
        - name: limit
          in: query
          description: Quantidade máxima de eventos retornados.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: period
          in: query
          description: Janela relativa ao instante da consulta; usa `24h` quando omitida.
          schema:
            type: string
            enum:
              - 24h
              - 7d
              - 14d
              - 30d
            default: 24h
        - name: type
          in: query
          description: Filtra por um único tipo outbound de entrega ou tracking.
          schema:
            $ref: '#/components/schemas/OutboundMessageEventType'
        - name: message_id
          in: query
          description: Filtra pelo UUID de uma mensagem pertencente ao tenant autenticado.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Página de eventos, ordenada por `occurred_at` decrescente com desempate estável.
          headers:
            Cache-Control:
              description: Impede cache de metadados de destinatários e diagnósticos de entrega.
              schema:
                type: string
                const: private, no-store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageTimelinePage'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/messages/metrics:
    get:
      operationId: getMessagesMetrics
      tags:
        - Messages
      summary: GET /v1/messages/metrics
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: messages:read
      parameters:
        - $ref: '#/components/parameters/Days'
        - name: domain_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/messages/timeseries:
    get:
      operationId: getMessagesTimeseries
      tags:
        - Messages
      summary: GET /v1/messages/timeseries
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: messages:read
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeseriesResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/messages/{id}:
    get:
      operationId: getMessagesId
      tags:
        - Messages
      summary: GET /v1/messages/{id}
      description: |
        Retorna metadados com `messages:read`. Para Bearer API Keys, os campos de conteúdo e
        `raw_message_api_path` só são incluídos quando a chave também possui
        `messages:content:read`. Sessões autenticadas do painel recebem o conteúdo.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: messages:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/messages/{id}/raw:
    get:
      operationId: getMessagesIdRaw
      tags:
        - Messages
      summary: Baixa o arquivo RFC 5322 submetido
      description: |
        Retorna o `.eml` armazenado no momento da submissão, antes da reescrita de links e pixel de
        tracking e antes da assinatura DKIM aplicada pelo MTA. Portanto, este arquivo é evidência do
        conteúdo submetido, não uma cópia byte a byte da mensagem entregue ao destinatário. A
        autorização e o isolamento por tenant são reavaliados em cada download.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: messages:content:read
      x-viapost-required-scopes:
        - messages:read
        - messages:content:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Arquivo `.eml` submetido.
          headers:
            Cache-Control:
              description: Impede armazenamento de conteúdo sensível por caches compartilhados ou privados.
              schema:
                type: string
                const: private, no-store
            Content-Disposition:
              description: Força download com nome de arquivo derivado exclusivamente do ID da mensagem.
              schema:
                type: string
                example: attachment; filename="00000000-0000-0000-0000-000000000000.eml"
            X-Content-Type-Options:
              description: Impede MIME sniffing no navegador.
              schema:
                type: string
                const: nosniff
          content:
            message/rfc822:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/messages/{id}/cancel:
    post:
      operationId: postMessagesIdCancel
      tags:
        - Messages
      summary: Cancela uma mensagem agendada antes do despacho
      description: Faz a transição atômica de `scheduled` para `cancelled` somente para o tenant autenticado. Se o reconciliador já enfileirou a mensagem, retorna `409` e nenhuma entrega é removida. A reserva de quota criada no aceite permanece no ledger.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: email:send
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Mensagem cancelada antes do despacho.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/messages/{id}/events:
    get:
      operationId: getMessagesIdEvents
      tags:
        - Messages
      summary: GET /v1/messages/{id}/events
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: messages:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageEventList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/segments:
    get:
      operationId: getSegments
      tags:
        - Segments
      summary: GET /v1/segments
      description: Lista somente os segmentos ativos do tenant autenticado. O recurso público chama-se `segments`; `audiences` é terminologia interna e não é uma rota.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:read
      parameters:
        - $ref: '#/components/parameters/AutomationCursor'
        - $ref: '#/components/parameters/AutomationLimit'
        - name: search
          in: query
          schema:
            type: string
            maxLength: 200
          description: Busca pelo nome do segmento; máximo de 200 caracteres.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: postSegments
      tags:
        - Segments
      summary: POST /v1/segments
      description: Cria um segmento cujo nome deve ser único dentro do tenant.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSegmentRequest'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/segments/preview:
    post:
      operationId: postSegmentsPreview
      tags:
        - Segments
      summary: Avalia uma definição dinâmica ainda não salva
      description: Retorna a cardinalidade exata e uma amostra de contatos no mesmo snapshot PostgreSQL. A resposta contém PII de contatos e não é uma rota de exportação ou listagem completa.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:write
      x-viapost-required-scopes:
        - segments:write
        - contacts:read
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentPreviewRequest'
      responses:
        '200':
          description: Cardinalidade exata e amostra de até 50 contatos no mesmo snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentPreview'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/segments/{id}:
    get:
      operationId: getSegmentsId
      tags:
        - Segments
      summary: GET /v1/segments/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      operationId: patchSegmentsId
      tags:
        - Segments
      summary: PATCH /v1/segments/{id}
      description: 'Substitui apenas os campos presentes; `description: null` remove a descrição. `name` não pode ser nulo ou vazio.'
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSegmentRequest'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteSegmentsId
      tags:
        - Segments
      summary: DELETE /v1/segments/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/segments/{id}/contacts:
    get:
      operationId: getSegmentsIdContacts
      tags:
        - Segments
      summary: GET /v1/segments/{id}/contacts
      description: Lista os contatos ativos que pertencem ao segmento. Em segmentos estáticos, aceita cursor opaco ou RFC3339 legado; em dinâmicos, o cursor opaco é vinculado à definição, `search` e `limit`, e cursores legados ou alterados retornam `400 validation_error`. Retorna `404` quando o segmento não existe, está arquivado ou pertence a outro tenant.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/AutomationCursor'
        - $ref: '#/components/parameters/AutomationLimit'
        - name: search
          in: query
          schema:
            type: string
            maxLength: 200
          description: Busca pelo e-mail do contato; máximo de 200 caracteres.
      responses:
        '200':
          description: Lista paginada de contatos do segmento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: postSegmentsIdContacts
      tags:
        - Segments
      summary: POST /v1/segments/{id}/contacts
      description: Adiciona um contato existente do mesmo tenant ao segmento estático. A associação já existente é idempotente e também retorna `204`; segmento ou contato ausente/fora do tenant retorna `404`. Um segmento dinâmico retorna `409 dynamic_segment_membership` sem alteração.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentContactRequest'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/DynamicSegmentMembershipConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/segments/{id}/contacts/{contact_id}:
    delete:
      operationId: deleteSegmentsIdContactsContactId
      tags:
        - Segments
      summary: DELETE /v1/segments/{id}/contacts/{contact_id}
      description: Remove uma associação existente de um segmento estático. Retorna `404` se o segmento, o contato ou a associação não existir no tenant. Um segmento dinâmico retorna `409 dynamic_segment_membership` sem alteração.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: segments:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: contact_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/DynamicSegmentMembershipConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/send:
    post:
      operationId: postSend
      tags:
        - Send
      summary: POST /v1/send
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: email:send
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRequest'
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/send/batch:
    post:
      operationId: postSendBatch
      tags:
        - Send
      summary: Enfileira mensagens distintas em lote
      description: Cada item usa o schema de envio individual e tem uma chave de idempotência própria. O header Idempotency-Key não é aceito; erros de cada item são retornados no respectivo resultado, mantendo a ordem enviada.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: email:send
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSendRequest'
      responses:
        '202':
          description: Resultado de cada item na ordem da requisição, incluindo erros por item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSendResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/suppressions:
    get:
      operationId: getSuppressions
      tags:
        - Suppressions
      summary: Lista supressões do tenant
      description: |
        Retorna somente supressões pertencentes ao tenant autenticado. A paginação usa cursor
        opaco e exclusivo. O estado é derivado de `released_at` e `expires_at`; por padrão,
        somente entradas ativas são retornadas. Diagnósticos SMTP brutos não fazem parte deste
        contrato e nunca são expostos.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: suppressions:read
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor opaco retornado em `next_cursor`.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 50
        - name: search
          in: query
          schema:
            type: string
            maxLength: 254
          description: Busca parcial sem diferenciação de maiúsculas no endereço.
        - name: reason
          in: query
          schema:
            $ref: '#/components/schemas/SuppressionReason'
        - name: state
          in: query
          schema:
            type: string
            enum:
              - active
              - expired
              - released
              - all
            default: active
        - name: origin
          in: query
          schema:
            $ref: '#/components/schemas/SuppressionOrigin'
      responses:
        '200':
          description: Página de supressões em ordem decrescente de atualização.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: postSuppressions
      tags:
        - Suppressions
      summary: Adiciona uma supressão manual
      description: |
        Normaliza o endereço antes de persistir. `manual` e `invalid_address` são os únicos
        motivos aceitos neste endpoint; motivos derivados de entrega ou consentimento são
        administrados automaticamente. Uma entrada encerrada pode ser reativada. Uma entrada
        ativa idêntica é idempotente, enquanto uma entrada ativa incompatível retorna `409`.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: suppressions:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSuppressionRequest'
      responses:
        '201':
          description: Supressão criada ou reativada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suppression'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/suppressions/import:
    post:
      operationId: postSuppressionsImport
      tags:
        - Suppressions
      summary: Importa supressões manuais de um CSV
      description: |
        Recebe UTF-8 com o cabeçalho exato `email,reason,expires_at,note`, no máximo 2 MiB e
        1.000 registros. `expires_at` e `note` podem ficar vazios. O arquivo inteiro é validado
        antes da escrita e a importação é atômica: qualquer linha inválida rejeita tudo.
        Endereços repetidos no mesmo arquivo são contabilizados em `duplicates`.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: suppressions:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          text/csv:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Importação concluída atomicamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionImportResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/suppressions/export:
    get:
      operationId: getSuppressionsExport
      tags:
        - Suppressions
      summary: Exporta supressões do tenant em CSV
      description: |
        Exporta o conjunto filtrado com cabeçalho `email,reason,state,origin,expires_at,note,updated_at`.
        Valores iniciados por caracteres de fórmula são neutralizados para impedir formula
        injection ao abrir o arquivo em uma planilha. O CSV nunca contém diagnóstico SMTP bruto.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: suppressions:read
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 254
        - name: reason
          in: query
          schema:
            $ref: '#/components/schemas/SuppressionReason'
        - name: state
          in: query
          schema:
            type: string
            enum:
              - active
              - expired
              - released
              - all
            default: active
        - name: origin
          in: query
          schema:
            $ref: '#/components/schemas/SuppressionOrigin'
      responses:
        '200':
          description: Arquivo CSV UTF-8.
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="viapost-suppressions.csv"
            Cache-Control:
              schema:
                type: string
                const: private, no-store
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/suppressions/{id}:
    get:
      operationId: getSuppressionsId
      tags:
        - Suppressions
      summary: Consulta uma supressão e seu histórico
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: suppressions:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: history_cursor
          in: query
          description: Cursor opaco para carregar eventos de auditoria anteriores.
          schema:
            type: string
        - name: history_limit
          in: query
          description: Quantidade de eventos de auditoria por página.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Supressão e eventos de auditoria em ordem cronológica.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/suppressions/{id}/release:
    post:
      operationId: postSuppressionsIdRelease
      tags:
        - Suppressions
      summary: Libera um endereço suprimido
      description: |
        Operação otimista e auditada. Exige confirmação explícita, a versão atual e justificativa
        entre 10 e 500 caracteres. Supressões por `complaint`, `unsubscribe` ou `spam_trap` não
        podem ser liberadas por esta API. Versão desatualizada, entrada já encerrada ou motivo
        protegido retornam `409` sem alterar o registro.
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: suppressions:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseSuppressionRequest'
      responses:
        '200':
          description: Supressão liberada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suppression'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/templates:
    get:
      operationId: getTemplates
      tags:
        - Templates
      summary: GET /v1/templates
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:read
      parameters:
        - $ref: '#/components/parameters/TimestampCursor'
        - $ref: '#/components/parameters/LegacyLimit'
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateList'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: postTemplates
      tags:
        - Templates
      summary: POST /v1/templates
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:write
      parameters:
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTemplateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/templates/{id}:
    get:
      operationId: getTemplatesId
      tags:
        - Templates
      summary: GET /v1/templates/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteTemplatesId
      tags:
        - Templates
      summary: DELETE /v1/templates/{id}
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/templates/{id}/archive:
    post:
      operationId: postTemplatesIdArchive
      tags:
        - Templates
      summary: POST /v1/templates/{id}/archive
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '204':
          description: Sucesso
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/templates/{id}/assets:
    post:
      operationId: postTemplatesIdAssets
      tags:
        - Templates
      summary: POST /v1/templates/{id}/assets
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateAssetRequest'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateAssetPolicy'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/templates/{id}/draft:
    patch:
      operationId: patchTemplatesIdDraft
      tags:
        - Templates
      summary: PATCH /v1/templates/{id}/draft
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateDraftRequest'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTemplateDraftResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/templates/{id}/duplicate:
    post:
      operationId: postTemplatesIdDuplicate
      tags:
        - Templates
      summary: POST /v1/templates/{id}/duplicate
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTemplateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/templates/{id}/preview:
    post:
      operationId: postTemplatesIdPreview
      tags:
        - Templates
      summary: POST /v1/templates/{id}/preview
      security:
        - bearerApiKey: []
        - sessionCookie: []
      x-viapost-scope: templates:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewTemplateRequest'
      responses:
[...]
